#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
}

.bars {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: white;
}

#bar2 {
    transition-duration: .8s;
}

#bar1,
#bar3 {
    width: 70%;
}

#checkbox:checked+.toggle .bars {
    position: absolute;
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}

#checkbox:checked+.toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
}

.navbar-toggler {
    color: transparent;
    border: none;
}

.dropdown-item {

    padding-inline: 0px;
    text-align: center;
}

.nav-link {
    color: white !important;
}

.bg-dropdown {
    overflow: visible;
}

.dropdown-item:hover {
    background-color: transparent;
}

.dropdown-item:active {
    background-color: var(--color-bg-second);
}

.btn :focus {
    box-shadow: transparent;
}

.btn :focus-visible {
    box-shadow: transparent;
}

@media only screen and (max-width: 992px) {

    .navbar-nav {
        min-height: 100vh;
        margin-top: 130px !important
    }

    .navbar-nav li {
        font-size: 35px;
    }

}
@media only screen and (max-width: 568px) {

.custom-ul li {
   font-size: 25px;
}

}
/* -------------------------------------------------------------------------- */
/*                                Mix Photo.jsx                               */
/* -------------------------------------------------------------------------- */

.cta {
    border: none;
    background: none;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;

    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #282A29;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* -------------------------------------------------------------------------- */
/*                                 DeleteCard                                 */
/* -------------------------------------------------------------------------- */


.card-body {

    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    height: 100dvh;

}

.card-del {
    background-color: #3A6351;
    display: flex;
    justify-content: center;
    gap: 20px;
    min-width: 30dvw;
    text-align: center;
}

.text-size{
    font-size: 13px;
}

/* -------------------------------------------------------------------------- */
/*                                 AddNewPhoto                                */
/* -------------------------------------------------------------------------- */


.input-div {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: flicker 2s linear infinite;
    cursor: pointer !important;
}

.icon {
    font-size: 2rem;
    cursor: pointer !important;
    animation: iconflicker 2s linear infinite;
}

.input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer !important;
}

.btn-set {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
}


@media only screen and (max-width: 700px) {

    .input-div {

        width: 30px;
        height: 30px;
    }

    .btn-set {
        width: 50px;
        height: 30px;
    }



}