.box-mdl {
    border-radius: 20px;
    padding: 1rem .7rem .7rem .7rem;
    text-align: center;
    font-size: 1.125rem;
    max-width: 320px;
}

.form-title {
    color: #333333;
    font-size: 1.8rem;
    font-weight: 500;

}

.form-paragraph {
    margin-top: 10px;
    font-size: 0.9375rem;
    color: rgb(55, 54, 54);
}

.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 2px dashed rgb(171, 202, 255);
    color: white;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
    background: rgba(0, 140, 255, 0.164);
    border-color: rgba(17, 17, 17, 0.616);
}

.drop-container:hover .drop-title {
    color: white;
}

.drop-title {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}

.file-input {
    width: 350px;
    max-width: 100%;
    padding: 2px;
    border-radius: 10px;
    border: 1px solid rgba(179, 164, 164, 0.288);
}


.file-input::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #333333;
    cursor: pointer;

}

.file-input::placeholder {
    color: white;
}

.file-input::file-selector-button:hover {
    background: #0d45a5;
}


/* -------------------------------------------------------------------------- */
/*                               Managing Photos                              */
/* -------------------------------------------------------------------------- */


.btn-delete-one {
    display: flex;
    justify-content: center;
    width: 35px;
    height: auto;
    position: absolute;
    left: 15px;
    top:15px;
    z-index: 20;
}


@media only screen and (max-width: 602px) {

    .btn-delete-one{
        width: 25px;
        left: 13px;
        top: 22px;
    }



}