:root {

    --font-title: "Platypi", serif;
    --font-text: "DM Sans", sans-serif;
    --font-card: "DM Sans", sans-serif;
    --background-day:  #4E7132;
    --background-first:#4E7132;
    --background-day-body: #fff;
    --background-night: #0B192C;
    --background-night-body: #282A29;
    --text-color: white;



}