:root {

    --font-title: 'Lexend', sans-serif;
    --font-text: 'Lexend', sans-serif;
    --font-card: 'Lexend', sans-serif;
    --background-day:  #4E7132;
    --background-first:#4E7132;
    --background-day-body: #fff;
    --background-night: #562B08;
    --background-night-body: #282A29;
    --text-color: white;



}